{% extends 'base.html' %}

{% block title %}
<title>Forget Password | Task Manager</title>
{% endblock title %}


{% block body_content %}
<div style="width: 40%; margin: auto;">
    <form method="POST">
    {% csrf_token %}
        <div class="mb-3">
            <label for="InputUsername" class="form-label">Email</label>
            <input type="email" class="form-control" name="email">
            {% if messages %}
            {% for message in messages %}
            <p><i>{{message}}</i></p>
            {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body_content %}