{% extends 'base.html' %}

{% block title %}
<title>Reset Password | Task Manager</title>
{% endblock title %}


{% block body_content %}
<div style="width: 40%; margin: auto;">
    <form method="POST" action="{% url 'reset_password' %}">
    {% csrf_token %}
        <div class="mb-3">
            <label for="InputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" value="{{email}}" readonly>
        </div>
        
        <div class="mb-3">
            <label for="InputOTP" class="form-label">OTP</label>
            <input type="text" name='otp' class="form-control">
            {% if messages %}
            {% for message in messages %}
            {% if message == 'Wrong OTP!' %}
            <p><i>{{message}}</i></p>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" name='password' class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Password Reset</button>
    </form>
</div>
{% endblock body_content %}