{% extends 'base.html' %}

{% block title %}
<title>Home | Task Manager</title>
{% endblock title %}


{% block body_content %}

<style>
  .title_button {
    width: 100%;
    width: 100%;
    background-color: transparent;
    border: transparent;
    text-decoration: none;
    color: black;
  }
</style>

<table class="table table-striped">
  <thead>

    <tr>
      <th scope="col" style="width: 6%;">
        <a class="title_button" href="?filter=id">
          ID {% if filter == 'id' %}*{% endif %}
        </a>
      </th>
      <th scope="col">Title</th>
      <th scope="col"><a class="title_button" href="?filter=priority">
          Priority {% if filter == 'priority' %}*{% endif %}
        </a></th>
      <th scope="col"><a class="title_button" href="?filter=due_date">
          Due Date {% if filter == 'due_date' %}*{% endif %}
        </a></th>
      <th scope="col"><a class="title_button" href="?filter=created_date">
          Created Date {% if filter == 'created_date' %}*{% endif %}
        </a></th>
      <th scope="col" style="width: 12%;">
        {% if filter == 'complete' or filter == 'incomplete' %}
        {% if filter == 'complete' %}
        <a class="title_button" href="?filter=incomplete">
          Complete {% if filter == 'complete' %}*{% endif %}
        </a>
        {% else %}
        <a class="title_button" href="?filter=complete">
          Inomplete {% if filter == 'incomplete' %}*{% endif %}
        </a>
        {% endif %}
        {% else %}
        <a class="title_button" href="?filter=complete">
          Status {% if filter == 'complete' %}*{% endif %}
        </a>
        {% endif %}
      </th>
      <th scope="col" style="width: 8%;">Action</th>
    </tr>

  </thead>
  <tbody>
    {% if task %}
    {% for task in task|dictsort:"priority" %}
    <tr>
      <th scope="row">{{task.id}}</th>
      <td>{{task.title|truncatewords:5|upper}}</td>
      <td>{{task.priority}}</td>
      <td>{{task.due_date|date:"SHORT_DATE_FORMAT"}}</td>
      <td>{{task.created_date|date:"D d M Y"}}</td>
      <td>
        {% if task.is_complete == True %}
        Complete
        {% else %}
        Incomplete
        {% endif %}
      </td>
      <td><a href="{% url 'task_details' task.id %}">View</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <th colspan="7">No Task Found</th>
    </tr>
    {% endif %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not task.has_previous %}disabled{% endif %}">
      <a class="page-link" {% if task.has_previous %}href="?page={{task.previous_page_number}}"{% endif %} tabindex="-1">Previous</a>
    </li>

    {% for page in paginator.page_range %}
    <li class="page-item {% if page == task.number %}active{% endif %}">
      <a class="page-link" href="?page={{page}}">{{page}}</a>
    </li>
    {% endfor %}

    <li class="page-item {% if not task.has_next %}disabled{% endif %}">
      <a class="page-link" {% if task.has_next %}href="?page={{task.next_page_number}}"{% endif %}>Next</a>
    </li>
  </ul>
</nav>

{% endblock body_content %}