{% url 'registration' as registration_url %}
{% url 'login' as login_url %}
{% url 'add_task' as add_task_url %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if request.user.user_type == 'Admin' or request.user.user_type == 'Employee' %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == add_task_url %}active{% endif %}" aria-current="page" href="{{add_task_url}}">
            Add Task
          </a>
        </li>
        {% endif %}


        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="" class="nav-link" aria-current="page">Notification (0)</a>
        </li>

        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link" aria-current="page">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{{login_url}}" class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == registration_url %}active{% endif %}" href="{{registration_url}}" aria-current="page">
            Registration
          </a>
        </li>
        {% endif %}

      </ul>

      <form class="d-flex" role="search" method="GET" action="{% url 'index' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_key">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>